################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MangoFood.Web/appsettings.json
/MangoFood.Web/appsettings.Development.json
/MangoFood.Web/appsettings.Production.json
/MangoFood.MessageBus/SD.cs
/MangoFood.Services.AuthAPI/appsettings.json
/MangoFood.Services.AuthAPI/appsettings.Development.json
/MangoFood.Services.AuthAPI/appsettings.Production.json
/MangoFood.Services.CouponAPI/appsettings.json
/MangoFood.Services.CouponAPI/appsettings.Development.json
/MangoFood.Services.CouponAPI/appsettings.Production.json
/MangoFood.Services.EmailAPI/appsettings.Production.json
/MangoFood.Services.EmailAPI/appsettings.Development.json
/MangoFood.Services.EmailAPI/appsettings.json
/MangoFood.Services.OrderAPI/appsettings.json
/MangoFood.Services.OrderAPI/appsettings.Development.json
/MangoFood.Services.OrderAPI/appsettings.Production.json
/MangoFood.Services.ProductAPI/appsettings.json
/MangoFood.Services.ProductAPI/appsettings.Development.json
/MangoFood.Services.ProductAPI/appsettings.Production.json
/MangoFood.Services.RewardAPI/appsettings.json
/MangoFood.Services.RewardAPI/appsettings.Development.json
/MangoFood.Services.RewardAPI/appsettings.Production.json
/MangoFood.Services.ShoppingCartAPI/appsettings.json
/MangoFood.Services.ShoppingCartAPI/appsettings.Development.json
/MangoFood.Services.ShoppingCartAPI/appsettings.Production.json
