@model int

<div class="text-center">
    <h1 class="text-info p-4">Congratulations! You are very close to an amazing food!</h1>
    <p class="pb-3">We have recieved your order and will it be ready in 30 minutes</p>
    <h4 class="text-warning pb-3">Order ID: @Model</h4>
    <img src="~/images/order.PNG" width="80%" />
</div>

